@font-face {
  font-family: 'Linux Libertine'; /* normal */
  src: url('fonts/LinLibertine_R.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine'; /* italic */
  src: url('fonts/LinLibertine_RI.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Linux Libertine'; /* bold */
  src: url('fonts/LinLibertine_RB.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Linux Libertine'; /* bold italic */
  src: url('fonts/LinLibertine_RBI.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  font-size: 137.5%;

  font-family: 'Linux Libertine', 'Merriweather', serif;
  color: rgb(51, 51, 51);
}

* {
  background-color: white !important;
}

img {
  max-width: 100%;
}

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li, ol li {
  line-height: 1.5rem;
}

ul ul, ol ul, ul ol, ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.618rem
  margin-top: 2rem;
}
h2 {
  font-size: 2.121rem;
  margin-top: 2rem;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td, table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}

/* Page size */

#readability-content {
  width: 700px;
  margin: auto;
}

a {
  color: rgb(190, 46, 13);
  text-decoration: none;
}

#readFooter {
  margin-top: 2rem;
}
